<div>

        <div class="card" style="width: 18rem;  position: relative;  left: 30px; ">
            <div class="card-body">
                <h4 class="card-title">{{list.name}}</h4>

                    <h6 class="card-text">{{card.name}}</h6>
                    <a href="/api/card/{{card.id}}" class="btn btn-outline-info btn-sm">Details</a>

                <a href="/api/card" class="btn btn-outline-success">Add new card</a>
                <p></p>
            </div>
        </div>
        <p></p>


</div>

