<h5 class="card-title">User name</h5>
<figure class="{{filter}}" id='figure'>
    <img src="{{imageUrl}}" class="card-img-top" alt="...">
</figure>
<div class="card-body">
    <p class="card-text">{{caption}}</p>
    <input name='comment' type="text" placeholder="Enter your comment" class="form-control">
    <p></p>
    <button class="btn btn-info">Send comment</button>
    <a href="#" class="btn btn-primary">Get comments</a>
</div>
