<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" href="img/insta-logo.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        body {
            background-image: url(/img/1.jpg);
        }
    </style>
</head>
<body>

<h1 style='padding: 1rem;'> <img src='img/insta-logo.png' style='width: 3rem; height: 3rem;'> INSTAGRAM </h1>

<div>
    {{{body}}}
</div>
<script>
    function logout() {
        fetch(`/logout`, { method: 'POST', redirect: 'follow'}).then(
            response => (window.location.href = response.url),
        );
    }
</script>
</body>
</html>
