<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" href="img/insta-logo.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<h1 > <img src='img/insta-logo.png' style='width: 3rem; height: 3rem;'> INSTAGRAM </h1>

<div>
    {{{body}}}
</div>

</body>
</html>
