<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" href="/img/insta-logo.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<div>
    {{{body}}}
</div>
<script>
    function createPhoto() {
        let options = {
            method: 'POST', headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                imagePath: document.getElementById(`imagePath`).getAttribute('src'),
                caption: document.getElementById(`caption`).value,
            }),
        };
        fetch(`/api/photo`, options)
            .then(response => response);
    }
</script>
</body>
</html>
