<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" href="/img/insta-logo.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/instagram.min.css">
    <link rel="stylesheet" href="/css/instagram.css">
</head>
<body>
<iframe name="hiddenFrame" style="display: none;"></iframe>
<div>
    {{{body}}}
</div>

<script src="/js/profile.js"></script>
</body>
</html>
