<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" href="/img/insta-logo.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/instagram.min.css">
    <link rel="stylesheet" href="/css/instagram.css">
</head>
<body>

<div>
    {{{body}}}
</div>
<script>

    function resultSearch() {
        let search = document.getElementsByName('search')[0].value;

        fetch(`/api/search?search=${search}`)
            .then(response => response.json())
            .then(search => {
                const listLinks = document.getElementsByName('link')[0];
                const textNoFound = document.getElementsByName('text')[0];
                listLinks.innerHTML = '';

                if (search.length === 0) {
                    const noFound = document.createElement('p');
                    noFound.innerText = 'No matches found on users';
                    textNoFound.appendChild(noFound);
                }

                const link = document.createElement('li');

                if (search) {
                    search.forEach(el => {
                        const a = document.createElement('a');
                        const empty = document.createElement('p')
                        const buttonFollow = document.createElement('button')
                        buttonFollow.innerText = 'follow';
                        buttonFollow.className = 'btn btn-success';

                        a.setAttribute('value', el.id);
                        if (el.name) {
                            a.setAttribute('href', `/api/profile/${el.id}`);
                            a.innerText = el.name;
                            empty.innerText = ' ';
                        }

                        link.appendChild(a);
                        link.appendChild(buttonFollow);
                        link.appendChild(empty);

                    });
                }

                listLinks.appendChild(link);
            });
    }

    function updatePhoto(photoId) {
        let options = {
            method: 'PUT', headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                caption: document.getElementById(`caption-${photoId}`).value,
            }),
        };
        fetch(`/api/photo/${photoId}`, options);
    }

    function deletePhoto(photoId) {
        let options = {
            method: 'DELETE', headers: { 'Content-Type': 'application/json' },
        };
        fetch(`/api/photo/${photoId}`, options);
    }

    function updateProfile(userId) {
        let options = {
            method: 'PUT', headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                name: document.getElementById(`name-${userId}`).value,
                userName: document.getElementById(`userName-${userId}`).value,
                webSite: document.getElementById(`webSite-${userId}`).value,
                bio: document.getElementById(`bio-${userId}`).value
            }),
        };
        fetch(`/api/profile/${userId}`, options);
    }
</script>
</body>
</html>
