<header>
    <ul class="list-group" style='padding: 1rem; width: 15rem'>
        <a class="list-group-item list-group-item-primary" href="/api/photos">Feed</a>
        <a class="list-group-item list-group-item-primary" href="/api/profile">Profile</a>
        <a class="list-group-item list-group-item-primary" href="/api/photo">Add new photo</a>
        <a class="list-group-item list-group-item-primary" onclick='logout()'>Logout</a>
        <a class="list-group-item list-group-item-primary" href="/login">Login</a>
        <a class="list-group-item list-group-item-primary" href="/register">Register</a>
    </ul>
</header>
